<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h1>My Form</h1>
  <div>
    <input formControlName="firstName" placeholder="first name" />
    <span *ngxIfErrors="let errs of 'firstName'" class="error">
      {{ errs | json }}
      <!-- easy debug -->
    </span>
  </div>
  <div>
    <input formControlName="lastName" placeholder="last name" />
    <!--
     Add additional conditions to display the error.
     Here the user must first enter a value and if it's removed again, the required error will show.
    -->
    <span *ngxIfErrors="let errs of lastNameControl; andIf: lastNameControl.dirty" class="error">
      {{ errs | errorMessage }}
    </span>
  </div>
  <div>
    <input formControlName="city" placeholder="city" />
    <span *ngxIfErrors="let errs of 'city'" class="error">
      {{ errs | errorMessage }}
    </span>
  </div>
  <div>
    <input formControlName="age" type="number" placeholder="age" />
    <span *ngxIfErrors="let errs of 'age'" class="error">
      {{ errs | errorMessage: 'minAge' }}
    </span>
  </div>
  <button type="submit" [disabled]="form.invalid">SUBMIT</button>
</form>
